[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
pandas = "*"
streamlit = "*"
folium = "*"
gsheetsdb = "*"
pyparsing = "*"
bokeh = "*"
streamlit-bokeh-events = "*"
requests = "*"
date = "*"
streamlit-player = "*"

[dev-packages]

[requires]
python_version = "3.9"
